<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.ohmage.mobility">

    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="9"
              tools:overrideLibrary="edu.cornell.tech.smalldata.omhclientlib"/>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".MainActivity"
            android:description="@string/app_description"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".activity.ActivityRecognitionIntentService" />
        <service android:name=".location.LocationListenerIntentService" />

        <receiver
            android:name=".AutoStartUp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBLxNnA5Is0cxRWo7fIzUR4VtW6N6WliBU" />
            <!--android:value="AIzaSyAEkUH1FVkCDrETFD-o7xMJ_WpzeHoFOvQ" />-->

        <provider
            android:name=".MobilityContentProvider"
            android:authorities="org.ohmage.mobility"
            android:enabled="true"
            android:exported="true" />

        <activity
                android:name="edu.cornell.tech.smalldata.omhclientlib.StartUserInterventionActivity"
                android:label="@string/title_activity_start_consent_screen" >
        </activity>

        <service
                android:name="edu.cornell.tech.smalldata.omhclientlib.services.AuthorizationCodeService"
                android:enabled="true"
                android:exported="false" >
        </service>
        <service
                android:name="edu.cornell.tech.smalldata.omhclientlib.services.UploadToDsuService"
                android:enabled="true"
                android:exported="false" >
        </service>

    </application>
</manifest>
